source https://nuget.org/api/v2

nuget FSharp.Core redirects: force

nuget CommandLineParser 2.0.275-beta

group Build
  source https://nuget.org/api/v2
  
group Test
  source https://nuget.org/api/v2
  
  nuget xunit
  nuget xunit.runner.console
